src/main/app/sftp-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd">
    <context:property-placeholder location="${env}.properties"/>
    <sftp:connector name="SFTP" validateConnections="true" doc:name="SFTP"/>
    <flow name="sftp-pocFlow">
        <sftp:inbound-endpoint host="${sftp.host}" port="${sftp.port}" responseTimeout="10000" doc:name="SFTP" connector-ref="SFTP" identityFile="${sftp.identityfile}" passphrase="${sftp.passphrase}" password="${sftp.password}" path="${sftp.path}" user="${sftp.user}"/>
        <logger message="Received file : #[message.inboundProperties.originalFilename]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
